# Salesforce / SFDX / CCI
.cci
.sfdx
.sf
/src.orig
/src

# Python
*.pyc
__pycache__

# Robot Framework results
robot/SummitEventsApp/results/

# Editors
*.sublime-project
*.sublime-workspace
.vscode
.idea
.project
.settings

# Misc
.DS_Store

# Illuminated Cloud (IntelliJ IDEA)
IlluminatedCloud
.IlluminatedCloud
out
*.iml

# CumulusCI
/test_results.*

# Added by Illuminated Cloud
.localdev/
target/
node_modules/
/.illuminatedCloud/
**/tsconfig*.json
**/*.tsbuildinfo
package-lock.json
package.json
