.SummitEventsItem {
    display: block;
    white-space: normal;
    padding: 4px 2px;
    font-size: 1.1em;
    line-height: 1.4em !important;
}

.SummitEventsItem:hover {
    text-decoration: none !important;
}

.fc-listMonth-view .SummitEventsItem {
    font-size: 1.1em;
    line-height: 1.4em !important;
}

.eventClosed .SummitEventsItem, .eventClosed .SummitEventsItem * {
    color: gray !important;
}

.SummitEventsItem .summitEventsTitle, .SummitEventItem .summitEventsDesc {
    display: block;
    margin: 0px 0px 4px 0px;
}

.SummitEventsItem .summitEventsTimes {
    display: block;
    font-size: .85em;
}

.tippy-box {
    background: #f9f9f9;
    font-family: 'Salesforce Sans', Arial, sans-serif;
    font-size: .8em;
    border: 1px solid #4f4f4f;
    color: #212121;
}

.tippy-box[data-placement^='top'] > .tippy-arrow::before {
    border-top-color: #4f4f4f;
}

.tippy-box[data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: #4f4f4f;
}

.tippy-box[data-placement^='left'] > .tippy-arrow::before {
    border-left-color: #4f4f4f;
}

.tippy-box[data-placement^='right'] > .tippy-arrow::before {
    border-right-color: #4f4f4f;
}