.slds-is-required label {font-weight: bold;}
.slds-form-element .slds-form-element__help {display:none;}
.slds-has-error {border-color:red!important;}


.validationError {
    color: red !important;
}

.validationError input {
    border: 1px solid red;
}

label.required {
    font-weight: bold;
}

.yearError {
    color: red;
    display: block;
    margin: -20px 0px -5px 0px;
    font-style: italic;
}

.eventClosed, .eventClosed * {
    color: gray !important;
}

.aptError {
    border: solid 1px red;
    color: #a70000;
}
#reviewWrapper {
    background-color: #fdfdfd;
    padding: 3px 20px;
    margin: 15px 0px 15px 0px;
    border: solid 1px #dededf;
}

.warning {
    color: #510C76;
    font-style: italic;
    font-weight: bold;
}

/*Hid the section nav on the page because we aren't using it right now */
#sectionNav {
    display: none;
}

.selectableOL {
    list-style-type: none;
    padding: 0px !important;
    position: relative;
    float: left;
    clear: both;
}

.selectableOL li {
    margin: 1px 10px 10px 0px;
    padding: 5px 15px;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    background-color: #f9f9f9;
    border: solid 1px #bfbfbf;
    color: #4f4f4f;
}

.selectableOL li.selOl-selected {
    background-color: #4f4f4f;
    color:#fff;
}

.slds-has-error .selectableOL li {
    border: solid 1px red;
}

/*Loading image*/
#backpage {
    display: none;
    background-color: #fff;
    opacity: 0.60;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1098;
    position: fixed;
    cursor: wait;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 5px;
}

#loading .background {
    width: 105px;
    height: 125px;
    background-image: url(../img/loading-shield.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    -webkit-animation: loadspin 2s ease-in-out infinite; /* Safari 4+ */
    -moz-animation: loadspin 2s ease-in-out infinite; /* Fx 5+ */
    -o-animation: loadspin 2s ease-in-out infinite; /* Opera 12+ */
    animation: loadspin 2s ease-in-out infinite; /* IE 10+, Fx 29+ */
}

#loading span {
    font-size: 1em;
}

@-webkit-keyframes loadspin {
    75% {
        -webkit-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
    100% {
        -webkit-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@-moz-keyframes loadspin {
    75% {
        -webkit-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
    100% {
        -webkit-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@-o-keyframes loadspin {
    75% {
        -webkit-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
    100% {
        -webkit-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes loadspin {
    75% {
        -webkit-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
    100% {
        -webkit-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}