
.noTableBorders {border:none; margin:0px;}
.noTableBorders td {border:none; padding:0px;}
.horzRadioTable {width:auto;}
.horzRadioTable.radioError td {border: solid #FFD7C6 10px;}
.horzRadioTable td { text-align:center; border: solid #fff 10px; background:#DCDADF}
.horzRadioTable td label {padding:10px 10px 10px 0px;}
.horzRadioTable td input {margin: 12px 0px 10px 10px;}
.horzRadioTable td.selected {background:#8546B1;color:#fff; font-weight:bold;}
.horzRadioTable td.selected label{ color:#fff;}
.outlined {border: solid 1px #999; padding:10px 25px 5px 25px; margin:15px 0px;}
.outlinedWithNumber {position:relative; float:left; clear:both; border: solid 1px #999; padding:15px 25px 15px 70px; margin:15px 0px;}
.outlinedWithNumber .numWrap { position:absolute; top:0px; left:0px;  background:#8546B1; color:#fff; width:50px; height:50px; font-weight: bold; font-size: 24px; padding:10px 5px 5px 5px; text-align:center; vertical-align: middle;}
.errorMessage {color:red; font-size:.9em; margin-top:-10px!important; font-style: italic;}
.textError input {border:solid 1px red;}
fieldset {margin:0px; padding:0px;}
/* Small only */
@media screen and (max-width: 39.9375em) {
    .horzRadioTable td, .horzRadioTable {width:100%; clear:both; position:relative; float:left;}
}
/* Medium and up */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .horzRadioTable {width:100%; clear:both; position:relative; float:left;}
    .horzRadioTable td {width:40%; position:relative; float:left;}
}
